header{
    display: flex;
    position:fixed;
    width: 100%;
    padding-top:1rem;
    padding-bottom:1rem;
    padding-left:8rem;
    padding-right:8rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-bg);
}

.logo{
    display: inline-block;
    color: var(--color-secondary);
    font-size: 3rem;
    font-weight: 600;
    font-style: italic;
}