.checkbox{
    display: grid;
    place-content: center;
    font-size: 1em;
    line-height: 1em;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0em 0.3em;
    /*border: 1px solid red;*/
}

.checkbox>input{
    /*Esconder input*/
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    margin: 0;
    background-color: var(--color-bg);
    font: inherit;
    color: currentColor;
    width: 1em;
    height: 1em;
    border: 0.15em solid var(--color-secondary);
    border-radius: 0.4em;
}

.checkbox>input:before {
    /*Checkbox antes click*/
    content: "";
    width: 0.65em;
    height: 0.65em;
    opacity: 0;
    transition: opacity 100ms ease-in-out;
    box-shadow: inset 1em 1em var(--color-secondary);
    border-radius: 0.4em;
  }

.checkbox>input:checked{
    /*Checkbox despues click*/
    opacity: 1;
    box-shadow: inset 1em 1em var(--color-secondary);
    color: var(--color-secondary);
}

.checkbox>input:checked + .checkbox{
    /*Label color despues click*/
    color: var(--color-secondary);
}